<%- include('../components/header.ejs') %>
<body class="hold-transition sidebar-mini">
  <div class="wrapper">
<%- include('../components/navbar.ejs') %>
    <!-- Content Wrapper -->
    <div class="content-wrapper">
      <section class="content">
        <div class="container-fluid">
          
        </div>
      </section>
    </div>
<%- include ('../components/footer.ejs') %>